/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 60px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.main {
  padding: 20px;
  margin-left: 290px;
  background: #f3f3f3;
}